@model PagedList.IPagedList<WebBooking.Models.DatGoi>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PageList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PageList</h2>

<table class="table">
    <tr>
        <th>ID </th>
        <td> So Phach</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoiName)
            </td>
        </tr>
    }
</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("PageList", "DatGois", new{ Page }))



 
